.mealInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 60px;
}
.titleInfo {
    color: white;
    margin: 30px 0;
}
.ingredients {
    text-align: center;
}
.mealImg {
    width: 30%;
}
.mealImg img {
    margin-top: 30px;
}
.ingredients {
    width: 60%;
}
.nameIngredient {
    text-align: center;
}
@media (max-width: 900px) {
    .mealImg {
        width: 50%;
    }
    .ingredients {
        width: 50%;
    }
}
@media (max-width: 650px) {
    .mealImg {
        width: 100%;
    }
    .ingredients {
        width: 100%;
        margin: 0 auto;
    }
}