.header {
    background-color: #23180d;
    padding: 20px 0;
    margin-bottom: 30px;
}
.headerItem {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.headerNav {
    display: flex;
}
.headerItem ul {
    margin-left: 60px;
}
.headerItem li {
    list-style: none;
    display: inline-block;
    margin-left: 50px;
    color: white;
}
.headerInput {
    padding: 7px;
}
@media (max-width: 360px) {
    .headerNav {
        display: flex;
        flex-direction: column;
    }
    .headerItem ul {
        margin-left: 0px;
    }
}